{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon blog !{% endblock %}

{% block body %}

    <h1>Home</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem nobis adipisci, quod voluptas voluptates ratione aliquid numquam blanditiis! Enim facilis quaerat ea totam atque repudiandae vitae dicta, cupiditate doloribus!
    Non optio iste dicta incidunt illum nesciunt repellendus aliquid facilis, atque, deleniti perspiciatis tenetur neque. Accusantium quos architecto totam nemo, repellat praesentium facilis sapiente eos vel atque dignissimos harum. Ipsum?
    Dolor, deleniti laboriosam ipsum soluta impedit dolore? Autem quisquam eum blanditiis sapiente rem labore ipsum facilis, a ea neque earum nisi, consectetur amet expedita perspiciatis. Tempore neque expedita sunt deserunt?
    Nihil, necessitatibus? Nulla quibusdam nesciunt repellat ipsa, exercitationem nisi! Facere maxime amet cum. Eligendi quae cum nisi optio incidunt veniam distinctio facere nostrum, animi nemo quaerat eveniet nesciunt, ducimus id?
    Suscipit at quam nulla saepe, id praesentium, itaque architecto nostrum corporis unde eum perspiciatis cum fuga perferendis! Et, molestias labore. Aperiam omnis quas delectus totam aut, facere pariatur reprehenderit repudiandae.
    Placeat numquam omnis quia at distinctio, nihil optio tenetur facere consequatur tempore aliquid eaque corrupti, blanditiis modi minus et, aspernatur corporis soluta enim! Dolor itaque, autem repudiandae sit suscipit eveniet.
    Consectetur voluptatibus corrupti ipsa magnam commodi laborum, unde libero earum repellat, maxime dolorem corporis totam voluptatem odit, obcaecati labore culpa architecto est? Vero aspernatur quae animi quod, voluptatum pariatur. Aliquam.
    Dolor dolorum voluptas eum sint nulla et recusandae omnis reprehenderit distinctio, cumque reiciendis aliquid ex exercitationem ducimus quaerat consequuntur odit veritatis eius debitis iusto assumenda aperiam consectetur commodi rem! Amet!
    Consequuntur nostrum iusto aut animi similique quos dolore labore officiis cumque! Illo distinctio non veritatis placeat totam nulla, obcaecati molestias voluptas qui culpa explicabo aperiam, laboriosam iste ipsa vitae sint?
    Pariatur repellendus vitae voluptatem minima. Odit mollitia ab pariatur inventore sunt! A sunt iure quae sed, libero deserunt, mollitia ipsum voluptatibus incidunt qui totam nihil ipsam nulla distinctio aut eveniet.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, quia id. Unde ipsam nostrum, ullam non iure voluptatem rerum, fugit enim architecto iusto rem. Labore hic sit repellat animi a?
    Impedit mollitia fuga adipisci magnam. Quas non, dolor vitae delectus inventore a expedita facere voluptas quidem natus, velit deserunt, autem optio illo alias quae odit illum ea at culpa mollitia!
    Dignissimos reiciendis hic possimus ad voluptas aut debitis aliquid, neque laboriosam! Omnis voluptatibus eaque debitis esse tempore, repudiandae voluptate. Dicta voluptatem minus debitis eos repellendus enim voluptates possimus placeat accusantium!
    Itaque sunt illum dolorem maiores at quae esse consequuntur provident nisi. Eveniet quo iste dolore possimus ab corrupti! Impedit iste animi natus ipsum ratione aliquid odio quidem aliquam facere labore?
    Ratione cupiditate porro autem? Eum provident quia repudiandae cumque praesentium pariatur, repellat fugiat facilis ducimus, cupiditate iure illum necessitatibus consequuntur quo exercitationem quibusdam aperiam veniam, quis deserunt. Perferendis, magnam quaerat.
    Aliquam, architecto et assumenda dolor dicta tempore optio aspernatur officia. Culpa iusto consequuntur temporibus atque assumenda esse aperiam ullam sed distinctio, neque, voluptatum harum facere animi! Laboriosam quod dolores itaque.
    Fugiat officiis ipsum debitis mollitia porro labore sequi libero quod, ratione qui eaque, autem unde magnam corrupti itaque nostrum quo dolorem saepe. Ducimus enim ut possimus eaque, quia sunt voluptate?
    Quidem porro excepturi obcaecati natus ratione minima accusamus ad fuga dolorum necessitatibus, atque animi fugit asperiores eius aperiam eaque! Odio itaque rem, aliquam aut aliquid perferendis ratione nam reiciendis iusto.
    Quaerat quasi reiciendis ea nemo enim nostrum quas ipsum illum pariatur omnis. Rem, dolorum quisquam tempora eos voluptatem dignissimos omnis reiciendis dolor id ipsam obcaecati molestiae error delectus minus voluptatum!
    Dolore alias doloribus error, odit, quisquam placeat corporis totam quasi molestias voluptates ad deserunt esse, mollitia ut sapiente. Reprehenderit dolore qui asperiores laborum quis recusandae modi rem minus quisquam labore!</p>

{% endblock %}